<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fast.succour.mapper.AnimalMapper">

    <resultMap type="Animal" id="AnimalResult">
        <result property="animalId"    column="animal_id"    />
        <result property="name"    column="name"    />
        <result property="categoryId"    column="categoryId"    />
        <result property="age"    column="age"    />
        <result property="gender"    column="gender"    />
        <result property="status"    column="status"    />
        <result property="image"    column="image"    />
        <result property="description"    column="description"    />
        <result property="stationId"    column="station_id"    />
        <result property="process"    column="process"    />
        <result property="createTime"    column="create_time"    />
        <result property="categoryName"    column="categoryName"    />
        <result property="stationName"    column="stationName"    />
        <result property="stationForUserId"    column="stationForUserId"    />
    </resultMap>

    <select id="selectAnimalList" parameterType="Animal" resultMap="AnimalResult">
        select a.animal_id, a.name, a.categoryId, a.age, a.gender, a.status, a.image,
               a.description, a.station_id, a.process, a.create_time,
               c.name as categoryName,
               s.name as stationName, s.user_id as stationForUserId
        from animal a
        left join category c on a.categoryId = c.category_id
        left join station s on a.station_id = s.station_id
        <where>
            <if test="name != null  and name != ''"> and a.name like concat('%', #{name}, '%')</if>
            <if test="categoryId != null  and categoryId != ''"> and a.categoryId = #{categoryId}</if>
            <if test="status != null  and status != ''"> and a.status = #{status}</if>
            <if test="stationForUserId != null"> and s.user_id = #{stationForUserId}</if>
        </where>
    </select>

    <select id="selectAnimalByAnimalId" parameterType="String" resultMap="AnimalResult">
        select animal_id, name, categoryId, age, gender, status, image, description, station_id, process, create_time from animal
        where animal_id = #{animalId}
    </select>

    <!--根据救助站ID查询该救助站的可领养动物-->
    <select id="selectAnimalListByStationId" parameterType="String" resultMap="AnimalResult">
        select animal_id, name, categoryId, age, gender, status, image, description, station_id, process, create_time
        from animal
        where station_id = #{stationId} and status = '可领养'
    </select>

    <insert id="insertAnimal" parameterType="Animal">
        insert into animal
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="animalId != null and animalId != ''">animal_id,</if>
            <if test="name != null and name != ''">name,</if>
            <if test="categoryId != null and categoryId != ''">categoryId,</if>
            <if test="age != null and age != ''">age,</if>
            <if test="gender != null and gender != ''">gender,</if>
            <if test="status != null and status != ''">status,</if>
            <if test="image != null and image != ''">image,</if>
            <if test="description != null and description != ''">description,</if>
            <if test="stationId != null and stationId != ''">station_id,</if>
            <if test="process != null and process != ''">process,</if>
            <if test="createTime != null">create_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="animalId != null and animalId != ''">#{animalId},</if>
            <if test="name != null and name != ''">#{name},</if>
            <if test="categoryId != null and categoryId != ''">#{categoryId},</if>
            <if test="age != null and age != ''">#{age},</if>
            <if test="gender != null and gender != ''">#{gender},</if>
            <if test="status != null and status != ''">#{status},</if>
            <if test="image != null and image != ''">#{image},</if>
            <if test="description != null and description != ''">#{description},</if>
            <if test="stationId != null and stationId != ''">#{stationId},</if>
            <if test="process != null and process != ''">#{process},</if>
            <if test="createTime != null">#{createTime},</if>
        </trim>
    </insert>

    <update id="updateAnimal" parameterType="Animal">
        update animal
        <trim prefix="SET" suffixOverrides=",">
            <if test="name != null and name != ''">name = #{name},</if>
            <if test="categoryId != null and categoryId != ''">categoryId = #{categoryId},</if>
            <if test="age != null and age != ''">age = #{age},</if>
            <if test="gender != null and gender != ''">gender = #{gender},</if>
            <if test="status != null and status != ''">status = #{status},</if>
            <if test="image != null and image != ''">image = #{image},</if>
            <if test="description != null and description != ''">description = #{description},</if>
            <if test="stationId != null and stationId != ''">station_id = #{stationId},</if>
            <if test="process != null and process != ''">process = #{process},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
        </trim>
        where animal_id = #{animalId}
    </update>

    <delete id="deleteAnimalByAnimalIds" parameterType="String">
        delete from animal where animal_id in
        <foreach item="animalId" collection="array" open="(" separator="," close=")">
            #{animalId}
        </foreach>
    </delete>
</mapper>
